html 
    head 
        link(rel="stylesheet", href="css/style.min.css")
    body 
        include html/header
        main.page 
            hi Привет!
            img(src="@img/CuoAwFkMmfQ.jpg", alt="")
        include html/footer
        script(src="js/app.min.js")