@font-face {
	font-family: Abbieshire;
	font-display: swap;
	src: url("../fonts/Abbieshire.woff2") format("woff2"), url("../fonrs/Abbieshire.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: DynaGroteskLMBold;
	font-display: swap;
	src: url("../fonts/DynaGroteskLMBold.woff2") format("woff2"), url("../fonrs/DynaGroteskLMBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: IdealGothicBold;
	font-display: swap;
	src: url("../fonts/IdealGothicBold.woff2") format("woff2"), url("../fonrs/IdealGothicBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PakenhamBlItalic;
	font-display: swap;
	src: url("../fonts/PakenhamBlItalic.woff2") format("woff2"), url("../fonrs/PakenhamBlItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
