.news {
    width: 100%;
}
.news__content {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
}
.news__swiper {
    width: 100%;
    height: 300px;
}
.news__swiper-wrapper {
}
.news__swiper-slide {
}
.news__slider-card {//переделать без позиционирования
    display: block;
    margin: 0 auto;
    position: relative;
}
.news__slider-img {
    border-radius: 20px 0px;
}
.news__block {//переделать без позиционирования
    position: absolute;
    bottom: 0;
    width: 350px;
    background: #7A66CC;
    opacity: 0.7;
    border-radius: 0px 0px 20px 0px;
}
.news__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 21px 20px;
}
//==============Медиа запросы==============//
@media (max-width: 1100px) {
    .news__content {
        max-width: 750px;
    }
}
@media (max-width: 750px) {
    .news__content {
        max-width: 380px;
    }
}
@media (max-width: 540px) {
    .news {
        padding-top: 50px;
    }
}
@media (max-width: 385px) {
    .news__swiper {
        width: 300px;
    }
    .news__slider-img {
        width: 95%;
    }
    .news__block {
        width: 95%;
        height: auto;
    }
    .news__title {
        font-size: 16px;
    }
}